@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:o}
body{ font-family:"微软雅黑"}
ul li{ list-style:none}
a{ text-decoration:none}
.clear{ clear:both}
.changeblue{color:#31acfb}
.left{ float:left}

.header{ width:100%; height:42px; line-height:42px; background:#000}
.header .heaer_con{ width:1200px; height:42px; line-height:42px; margin:0 auto}
.header_h1{ float:left; font-size:14px; color:#fff;height:42px; line-height:42px; font-weight:normal}
.header_rightLine{ float:left; margin-left:20px; margin-right:20px; width:2px; height:16px; margin-top:13px; border-right:2px solid #fff;}
.header_weixin{ float:left; width:27px; height:26px; margin-top:8px; margin-left:17px; cursor:pointer}
.header_weixinBig{ display:none; width:107px; height:107px; position:absolute; margin-left:230px; margin-top:38px}
.header .heaer_con ul{ float:right;}
.header .heaer_con ul li{ float:left; color:#fff; height:42px; line-height:42x; font-size:16px; }
.header .heaer_con ul li a{color:#fff;}

.nav{ width:1200px; margin:0 auto; height:100px;}
.nav .nav_logo{ float:left; width:468px; height:65px; margin-top:20px}
.nav ul.nav_navs{ float:right; height:50px; margin-top:20px}
.nav ul.nav_navs li{ float:left; width:80px; margin-right:20px;height:50px; line-height:50px; text-align:center; font-size:18px; color:#6d6e71;}
.nav ul.nav_navs li.on{ border-bottom:6px solid #41aff5}
.nav ul.nav_navs li:hover{border-bottom:6px solid #41aff5}

/*banner*/
.fullSlide {width:100%;	position:relative;height:410px;background:#000;}
.fullSlide .bd {margin:0 auto;	position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul {	width:100% !important;}
.fullSlide .bd li {	width:100% !important;height:410px;overflow:hidden;text-align:center;}
.fullSlide .bd li a {display:block;height:410px;}
.fullSlide .hd {width:100%;	position:absolute;z-index:1;bottom:0;left:0;	height:30px;line-height:30px;}
.fullSlide .hd ul {	text-align:center;}
.fullSlide .hd ul li {	cursor:pointer;	display:inline-block;*display:inline;zoom:1;	width:42px;	height:11px;margin:1px;	overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
.fullSlide .hd ul .on {	background:#f00;}
.fullSlide .prev,.fullSlide .next {	display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:15%;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next {left:auto;right:15%;background-position:-6px -137px;}

.titblue{ color:#31acfb;}

.gzjr{ width:1200px; height:auto; margin:0 auto; text-align:center}
.gzjr .tit{ color:#353535;font-size:24px; line-height:124px; padding-top:30px;}
.gzjr .dashline{ width:668px; padding-bottom:20px}
.gzjr .sub{ /*display:none*/}
.gzjr .sub div{ font-size:16px; color:#666666; line-height:30px;}
.gzjr .showP{padding-top:40px;}
.aUp{ display:none }



.iconBox{ width:1200px}
ul.ul_iconBox{ padding-top:60px}
ul.ul_iconBox li{ float:left; width:300px; padding-left:40px; padding-right:40px; text-align:center} 
.fxtBg{width: 158px;height: 158px;background-image: url(../images/app-1.png);margin: 0 auto;
}
.fxtBg:hover{ background-position: 0px 158px;}
.iconTit{ font-size:24px; color:#353535; padding-top:60px; padding-bottom:30px}
.croLine{ width:40px; height:6px; background:#7e8487; margin:0 auto; margin-bottom:30px}
.croLine:hover{ background:#31acfb}
.fxtBg0{width: 156px;height: 156px;background-image: url(../images/app-2.png);margin: 0 auto;
}
.fxtBg0:hover{ background-position: 0px 156px;}
.fxtBg1{width: 162px;height: 162px;background-image: url(../images/app-3.png);margin: 0 auto;
}
.fxtBg1:hover{ background-position: 0px 162px;}
.fon16{ font-size:16px; color:#666666; line-height:30px;}
.more_lj{ font-size:20px; color:#31acfb; padding-bottom:50px; padding-top:30px}

.pickShell{ width:100%; height:299px; background:url(../images/banner-2.png) center center no-repeat; cursor:pointer}



.column {width: 100%; height: 680px;}

.column .tp {display: inline-block;width: 39px; height: 60px;position: relative;top: 230px;left: 40px;float: left;background-image: url(../images/arrow-left.png);}
.column .tp:hover{ background-position: 0px 60px;}
.column .tp1 {display: inline-block; width: 39px;height: 60px; position: relative;top: 230px;right: 54px;float: right; background-image: url(../images/arrow-right.png);}
.column .tp1:hover{background-position: 0px 60px;}
.column .column_t {height: 680px;margin: 0 auto;text-align:center;width: 1200px; margin:0 auto;}
.column .column_t .column_t_c { height: 520px; width: 380px; margin-top: 50px;float: left; background-color: #fff;}
.column .column_t .column_t_c .col { height: 80px;}
.column .column_t .column_t_c .col h3 {text-align: center;height: 80px;line-height: 80px;font-size: 16px;color: #333;font-weight: normal;}
.column .column_t .column_t_c .textBox{text-align: left;width: 100%;padding-left: 30px; font-size: 14px;color: #666;line-height: 21px; padding-top: 36px;}
.showOut{font-size: 16px; color: #1a94d9;}
.textBox a{font-size: 16px;color: #31acfb;text-decoration: underline;display: block; padding-top: 36px;}
.owl-theme .owl-dots .owl-dot.active span {background-color: #31acfb;}
.owl-theme .owl-controls { margin-top: 40px; text-align: center;}
.owl-theme .owl-dots .owl-dot { display: inline-block;zoom: 1;}
.owl-theme .owl-dots .owl-dot span {-webkit-backface-visibility: visible;display: block;width: 17px;height: 17px; margin: 0px 7px;-webkit-border-radius: 20px;-moz-border-radius: 20px; border-radius: 20px;background: #fff;border:3px solid  #c9cbca;transition-property: opacity; transition-duration: 200ms;transition-timing-function: ease;}



#walletBan{ width:100%; height:452px; background:url(../images/banner-3.png) center center no-repeat}
.lianxi_z{ width:660px; margin:0 auto; height:190px; }
.lianxi_z .lx_l{ float:left; width:300px; height:190px;border-bottom:3px solid #f0f2f4; text-align:center}
.lianxi_z .lx_r{float:left; width:300px; margin-left:60px; height:170px;border-bottom:3px solid #f0f2f4; text-align:center; padding-top:20px}
.lianxi_z img{ padding-top:20px}
.lianxi_z p{ font-size:18px; color:#666666; padding-top:20px}
.lianxi_z .lx_r p{ padding-top:40px}

.hzhb{ width:1200px; height:50px; margin-top:30px; margin-bottom:30px;}
.hzhb img{ width:220px; height:50px; float:left; margin-left:4px}
.hzhbmy{width:1200px; height:50px; margin-top:60px; margin-bottom:60px; text-align:center}
.hzhbmy img{ width:468px; height:65px;}

.footer{ width:100%; height:60px; background:#232a30}
.footer_m{ width:1200px; height:60px; margin:0 auto; font-size:14px; color:#adacac; line-height:60px}
.footer_l{ float:left}
.footer_r{ float:right}


/*新手引导*/
.banner{ height:460px; background:url(../images/bannerNew.png) center center no-repeat}
.main{ width:1200px; margin:0 auto}
.main .daohang{ font-size:16px; height:50px; line-height:50px; color:#333; padding-top:10px}
.main .daohang a{  color:#333}
.main .nr{ width:1046px; height:1841px; background:url(../images/bk-imageGuider.png); position:relative; margin:0 auto; margin-top:40px; margin-bottom:60px}
.main .nr .font16{ font-size:16px; color:#333; position:absolute; left:-60px}
.main span.bluea{ font-size:24px; color:#31acfb; padding-left:10px}
.newredb{ width:420px; height:150px; position:absolute; right:10px}
.newredb_tit{ font-size:24px; color:red; height:60px; line-height:60px}
.newredb_con{ background:url(../images/selected.png) no-repeat center left; height:30px; line-height:30px; padding-left:15px; font-size:16px; color:#333}
.main span.blueb{ font-size:20px; line-height:30px; color:#31acfb; padding-right:10px; padding-left:10px}
.first{ width:370px; position:absolute;top:270px; left:300px; text-align:right}
.first_one{ font-size:26px; line-height:50px}
span.reda{ font-size:30px; color:red; padding-left:15px}
.first_two{ font-size:16px; color:#333; line-height:30px;}
.two{width:370px;position:absolute;top:700px; left:330px;}
span.lva{ color:#a3d126;font-size:30px; padding-left:15px}
.three{width:370px; position:absolute;top:1350px; left:610px;}
span.blua{ color:#23d1f9;font-size:30px; padding-left:15px}
span.zia{ color:#c449d6;font-size:30px; padding-left:15px}
.four{width:370px; position:absolute;top:1780px; left:-60px}
.btn_zhuce{ width:180px; height:60px; margin:0 auto; background:url(../images/btn-now.png) center 60px; margin-top:100px; margin-bottom:80px}

/*帮助中心*/
*{ margin:0; padding:0}
.bj{ width:100%; height:auto; background:url(../images/ditu.png) no-repeat; background-position:center bottom}
.help_zx{ width:1200px; height:auto; margin:0 auto; margin-top:40px;}
.help_zx_l{ float:left; width:280px; height:422px; border:1px solid #ccc}
ul.helps{ width:278px; height:422px; list-style:none}
ul.helps li{ clear:both; width:238px; height:60px; line-height:60px; font-size:16px; text-align:left; color:#292929; padding-left:30px;border-left:10px solid #fff; cursor:pointer}
ul.helps li.help_on{ background:#f1f1f1; border-left:10px solid #f68500; color:#31acfb}
ul.helps li:hover{background:#f1f1f1; border-left:10px solid #f68500; color:#31acfb}
.help_zx_r{ float:left; width:860px; height:auto; margin-left:40px;border:1px solid #ccc; padding-bottom:60px}
.help_tit{ height:45px; line-height:45px; padding-top:30px; color:#31acfb; font-size:16px}
.help_tit img{ float:left; padding-left:30px; padding-right:20px}
.quesList{ width:750px; margin-left:50px; height:auto; padding-bottom:20px; border-bottom:1px dashed #ccc}
.quesList .quesList_titt{ background:url(../images/slecd_1.png) no-repeat left center; padding-left:25px; font-size:14px; line-height:24px; color:#292929; margin-top:25px;}
.quesList .quesList_huifu{ font-size:14px; color:#666; padding-left:30px; line-height:30px; padding-top:10px; text-decoration:underline; display:none}
.quesList_huifu ul{ padding-left:10px}
.quesList_huifu ul li{ list-style:disc;}
.quesList .actives{ background:url(../images/slecd_2.png) no-repeat left center}
.help_page{ float:right; padding-right:60px; padding-top:20px}
.page_ye,.page_up,.page_down{ float:left; padding-left:20px}


/*我要投资*/
.mytz{ height:270px; border:1px solid #d9d9d9; background:#fff; padding-left:40px; padding-right:40px}
.mytz_tit{ font-size:16px; color:#333; line-height:60px; height:60px; border-bottom:1px solid #d9d9d9;}
.mytz_tit img{ float:left; padding-top:11px; padding-right:10px}
.mytz_nr{height:130px;border-bottom:1px solid #d9d9d9; padding-top:40px}
.mytz_nrl{ float:left; width:460px; height:90px; border-right: 1px dashed #999999}
.mytz_nrl_l{ float:left; width:150px; text-align:center;}
.mytz_nrl_l p.p1{font-size:14px; color:#333;}
.mytz_nrl_l p.p2{ color:#31acfb; font-size:28px; padding-top:30px}
.mytz_nrc{float:left; width:240px; height:90px; margin-left:50px}
.mytz_nrc p.p1{font-size:14px; color:#333;}
.jindu{width:240px;font-size:14px; color:#333; padding-top:40px;}
.jindu p{ float:left;}
.jindu .jind_z{ float:left; width:134px; height:11px; background:#dcdcdc; margin-top:5px}
.jindu .jind_z .jind_f{ width:40%; height:11px; background:#31acfb;}
.mytz_nrr{float:left; width:300px; height:90px; margin-left:60px}
.mytz_nrr_up{ width:300px; height:55px;}
.mytz_nrr_up .my_ll{ float:left}
.mytz_nrr_up .my_ll p{font-size:14px; color:#333; line-height:26px}
.mytz_nrr_up .my_lr{ float:right; width:100px; height:40px; background:#f89b29; line-height:40px; text-align:center; color:#fff; font-size:18px; border-radius:5px; margin-top:10px}
.mytz_nrr_c{ width:300px; margin-top:10px}
.mytz_nrr_c input{ float:left; width:199px; height:40px; border:1px solid #d9d9d9; border-right:0}
.btn_myzt{ float:left; width:100px; height:40px;border-radius:0px 5px 5px 0px; background:#31acfb;line-height:40px; text-align:center; color:#fff; font-size:18px; }

.mytz_xq{height:auto; border:1px solid #d9d9d9; background:#fff; padding-left:40px; padding-right:40px; margin-top:20px}
.subtab {border-bottom: 1px solid #eeeeee;height: 60px; padding-top:20px}
.subtab ul {height: 60px;}
.subtab ul li {background: #eeeeee;cursor: pointer;float: left;color: #333333;line-height: 60px;margin-right: 20px;text-align: center; width: 154px;border-radius: 5px 5px 0 0;}
.subtab .bg_block {background: #fff;color: #00a0e9;border-left: 1px solid #98deff;border-right: 1px solid #98deff;border-top: 1px solid #98deff;}
/*项目详情*/
.project-info{ border-bottom: 1px solid #eeeeee;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;color: #333333;padding: 40px 20px 0 20px;}
#projectable{ width:1076px;border-collapse:collapse;text-align: center;color: #292929;margin-top: 12px;margin-bottom: 42px;}
#projectable > thead{background: #31acfb;color: #ffffff;}
#projectable >  tbody > tr > td{ border-bottom: 1px solid #eeeeee;}
.tablew_box{border-bottom: 1px dashed #d9d9d9;}
/*投资记录*/
.invest-record{border-bottom: 1px solid #eeeeee;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;padding: 40px 40px 0 40px; color: #292929;}
#recordtable{text-align: center;width:1050px;border-collapse:collapse;}
#recordtable > thead{background: #31acfb;color: #ffffff;}
.table > thead > tr > th, .table > tbody > tr > th, .table > thead > tr > td, .table > tbody > tr > td{border-top: medium none;vertical-align: middle;padding: 15px 8px;}
.odd-tr{background-color: #eeeeee;}
/*专享服务*/
.exclusive-info{border-bottom: 1px solid #eeeeee;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;padding: 50px 20px 20px 20px;}
.frequentlyTit{color: #333333;}
.frequentlyQ{background: url(../images/slecd_1.png) no-repeat left 36px;color: #00a0e9;padding-top: 32px;padding-left: 25px;}
.frequentlyA{padding-left: 25px;font-size: 12px;color: #292929;margin-top: 8px;line-height: 25px;}
a.frequentlyAll{font-size: 14px;color: #00a0e9;outline: none;}



.shaixuan{ width:100%; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; background:#fff}
.shaixuan_t{ width:1200px; height:50px; margin:0 auto; padding-top:20px;}
.sx{ float:left; width:60px; margin-left:20px; margin-right:10px; height:38px; padding-left:45px; height:38px; line-height:38px}
.sx1{ background:url(../images/app-001.png) no-repeat 0px -38px; color:#31acfb}
.sx2{background:url(../images/app-02.png) no-repeat}
.sx3{background:url(../images/app-03.png) no-repeat}
.sx:hover{ background-position:0px -38px; color:#31acfb}
.sx2:hover{ background-position:0px -39px}
.rightline{ width:1px; height:28px; background-color:#999; float:left; margin:5px 10px 0 10px}
.sx_tjs{ width:1200px; height:130px; margin:0 auto; padding-top:20px;font-size:14px; color:#666666}
.sx_tit{}
ul.sx_ul{ padding-top:10px; clear:both}
ul.sx_ul label{ float:left}
ul.sx_ul li{ float:left; width:110px; text-align:center; cursor:pointer;}
ul.sx_ul li:hover{color:#31acfb}
.sx_list{width:1200px; height:auto; margin:0 auto; padding-top:20px;}
.list_tz{ width:100%; height:140px; border-bottom:1px solid #d9d9d9; border-top:1px solid #d9d9d9; border-left:12px solid #44adea; background:#fff; margin-bottom:30px; padding-top:30px}
.list_tzl{ float:left; width:150px; height:106px; border-right:1px dashed #d9d9d9; padding-left:50px}
.list_tzc{ float:left; width:760px; height:106px;border-right:1px dashed #d9d9d9;}
.list_tzr{ float:left; width:230px; height:76px; margin-top:30px}
.list_tz p.ptz{ font-size:14px; color:#44adea; margin-top:25px}
.list_tzc .ll_l{ width:160px; height:106px; float:left; text-align:center; font-size:14px; color:#666}
.list_tzc .ll_l p.changeblue{ font-size:26px; padding-top:40px}
.list_tzc .ll_l .jind_z{ float:left; width:134px; height:11px; background:#dcdcdc; margin-top:5px}
.list_tzc .ll_l .jind_z .jind_f{ width:40%; height:11px; background:#31acfb;}
.list_tzl:hover{ cursor:pointer}
.list_tzr .ljtz_btn{ width:142px; height:42px;background:#31acfb; line-height:42px; text-align:center; color:#fff; font-size:18px; border-radius:5px; margin:0 auto; cursor:pointer}
.list_tzr .ckxq{ width:142px; font-size:14px; color:#31acfb;margin:0 auto; cursor:pointer; text-align:center; padding-top:20px}


/*我的账户*/
.banner0{ width:100%; height:420px; background:url(../images/bannerNew.png) top center no-repeat; padding-top:40px}
.banner0 .ban_my{ clear:both; width:1200px; height:380px; margin:0 auto; background:#fff; }
.ban_my_left{ float:left; width:270px; height:350px; padding-top:30px; padding-left:28px;}
.ban_my_l1{ width:26px; height:26px; cursor:pointer}
.ban_my_l2{width:146px; height:146px; margin:0 auto; cursor:pointer}
.ban_my_l3{ font-size:24px; color:#333; text-align:center; padding-top:30px;}
.ban_my_l3 span{ font-size:18px;}
.ban_my_l4{ font-size:12px; color:#333; padding-top:20px;}
.anquan{ width:55px; height:19px; background:#33aef1; text-align:center; margin-left:10px}
.anquan img{ width:12px; height:14px; margin-top:3px}
.anquan0{ width:53px; height:17px; color:#33aef1; border:1px solid #33aef1; text-align:center; line-height:17px; margin-right:10px}
.zhaq{ padding-left:50px}
.ban_my_right{ float:left; width:840px; height:250px;padding-top:40px; margin-left:40px;}
.ban_my_right_up{ width:820px; height:40px; padding-left:20px; border-bottom:1px solid #cccccc; font-size:24px; color:#333;letter-spacing:2px}
.right0{ float:right; font-size:16px;}
.ban_my_right_down{ width:830px; height:250px}
.ban_my_right_down_l{ float:left; width:500px; height:250px;}
.ban_my_right_down_c{float:left; width:1px; height:200px; background:#cccccc; margin-left:30px; margin-top:20px}
.ban_my_right_down_r{float:left; width:290px; height:250px;}
.ban_my_d{width:500px; height:120px; border-bottom:1px dashed #cccccc}
.ban_my_d1{ width:160px; height:120px; float:left; text-align:center}
.ban_my_d1 p.dp1{ font-size:15px; color:#333; padding-top:20px}
.ban_my_d1 p.dp2{ font-size:22px; padding-top:20px}
.my_ban_btn{ width:160px; height:40px; text-align:center; font-size:20px; line-height:40px; color:#fff; border-radius:5px; margin-left:80px; cursor:pointer;    letter-spacing: 4px;}
.my_ban_btn0{ background:#f6951d;margin-top:40px}
.my_ban_btn1{ background:#32acfa; margin-top:60px}

.dh_line{ width:100%; height:6px; border-bottom:1px solid #cccccc;}
.tunav{ width:100%; height:170px; padding-top:50px}
.tunav div{ float:left; width:102px; height:82px;}
.tunav1{ background:url(../images/app1.png) no-repeat; padding-right:160px}
.tunav2{background:url(../images/app2.png) no-repeat; padding-right:160px}
.tunav3{background:url(../images/app3.png) no-repeat; padding-right:160px}
.tunav4{background:url(../images/app4.png) no-repeat; padding-right:160px}
.tunav5{background:url(../images/app5.png) no-repeat;}
.tunav1:hover,.tunav2:hover,.tunav3:hover,.tunav4:hover,.tunav5:hover,.active_nav{height:102px;background-position:0px -82px; cursor:pointer}
.tunav p{ font-size:16px; padding-top:117px; text-align:center; color:#333; cursor:pointer}
.tunav p:hover,.active_nav p{ font-size:24px; color:#31acfb}
.xhx_line{ width:1200px; height:24px; }
.xhx_line_l{ float:left; border-bottom:1px dashed #31acfb; width:45px; padding-top:12px}
.xhx_line_c{ float:left; width:24px; height:24px; background:url(../images/menu_prog_dot.png) no-repeat}
.xhx_line_r{ float:left;width:1123px; padding-top:12px; border-bottom:1px dashed #ccc; }

.xhx_line_l1{float:left; border-bottom:1px dashed #31acfb; width:300px; padding-top:12px}
.xhx_line_r1{float:left;width:868px; padding-top:12px; border-bottom:1px dashed #ccc;}

.xhx_line_l2{float:left; border-bottom:1px dashed #31acfb; width:570px; padding-top:12px}
.xhx_line_r2{float:left;width:598px; padding-top:12px; border-bottom:1px dashed #ccc;}

.xhx_line_l3{float:left; border-bottom:1px dashed #31acfb; width:830px; padding-top:12px}
.xhx_line_r3{float:left;width:338px; padding-top:12px; border-bottom:1px dashed #ccc;}

.xhx_line_l4{float:left; border-bottom:1px dashed #31acfb; width:1090px; padding-top:12px}
.xhx_line_r4{float:left;width:45px; padding-top:12px; border-bottom:1px dashed #ccc;}

.xhx_line{ padding-bottom:60px}

.njmy{ width:100%; background:url(../images/bk-image-2.png) center bottom no-repeat; border-bottom:0px;}
.mybj_1{ font-size:20px; color:#31acfb; text-align:center;letter-spacing:10px; height:50px; line-height:50px;}
.mybj_2{ font-size:16px; text-align:center;height:60px; line-height:60px;}
.mybj_3{ width:1200px; height:300px; margin:0 auto; padding-bottom:140px}
.mybj_03{ float:left;width:240px; height:300px; background:#fff; margin-left:30px; margin-right:25px;border:1px solid #cccccc;}
.mybj_001{ font-size:22px; color:#ee8202; text-align:center; padding-top:20px}
.mybj_002{ font-size:36px; color:#31acfb;  border-bottom:1px solid #cccccc; width:94px; height:70px; line-height:70px;margin:0 auto;}
.mybj_003{ font-size:16px; color:#666; text-align:center; padding-top:20px}
.mybj_004{ padding-top:10px;}
.mybj_004l{ float:left;font-size:16px; color:#666; padding-left:40px}
.mybj_004l p{ padding-top:10px}
.mybj_005{ width:240px; height:50px; line-height:50px; text-align:center; color:#fff; background:#32acfa; font-size:22px;}

.my_more{ clear:both; width:80px; height:34px; line-height:34px; background:#fff; border-radius:15px; color:#31acfb; font-size:18px; margin:0 auto; text-align:center; cursor:pointer}
.my_more:hover{ background:#31acfb; color:#fff}
.line{width:1200px; margin:0 auto; height:1px; background:#ccc; margin-top:50px; margin-bottom:30px}

/*我的邀请*/
.my_yaoqing{ width:100%;}
.my_yq_tit{ width:100%; height:24px; font-size:14px; color:#333}
.my_yq_titL{ float:left}
.my_yq_titR{ float:right}
.my_yq_titR a{ width:80px; height:22px; line-height:22px; color:#fff; background:#31acfb; text-align:center; padding:0 10px;}

table.my_yq_tab{ border:0;border-collapse:collapse; width:100%;text-align:center; font-size:14px; margin-top:20px;}
table.my_yq_tab thead{ width:100%; height:48px; line-height:48px;  background:#31acfb; color:#fff}
table.my_yq_tab thead tr td div{border-right: 2px solid #ffffff; }
table.my_yq_tab tbody tr{ width:100%; height:40px; line-height:40px; border-bottom:1px solid #ccc}
.odd-tr{background-color: #eeeeee;}
.my_yq_page{ font-size:14px; color:#333; padding-top:10px}
.my_yq_page div{ float:right; padding-left:20px}


/*红包积分*/
.my_hbjf{ width:100%; border:1px solid #ccc; font-size:16px; color:#333; padding-bottom:40px}
ul.my_hbjf_tab_nav{ width:100%; height:50px; border-bottom:1px solid #ccc}
ul.my_hbjf_tab_nav li{ float:left;height:50px; line-height:50px; border-left:1px solid #ccc; text-align:center; cursor:pointer; box-sizing:border-box}
ul.my_hbjf_tab_nav li:first{border-left:0;}
.my_hbjf_tab1{ width:100%;}
.current{ background:#31acfb; color:#fff}

#content{  padding:20px}
.my_hbjf_tab1{}
table.my_hbjf_table{border:0;border-collapse:collapse; width:100%;text-align:center; font-size:14px; margin-top:20px;}
table.my_hbjf_table thead{ width:100%; height:48px; line-height:48px;  background:#31acfb; color:#fff}
table.my_hbjf_table thead tr td div{ border-right: 2px solid #ffffff;}
table.my_hbjf_table tbody tr{ width:100%; height:40px; line-height:40px; border-bottom:1px solid #ccc}
.odd-tr{background-color: #eeeeee;}

/*资金记录*/
.my_zjjl{ width:100%}
.my_zjjl_tit{ width:100%; height:26px; padding-top:40px; font-size:16px; color:#333}
.my_zjjl_tit .my_zjjl_titl{ float:left}
.my_zjjl_tit .my_zjjl_titl select{ margin-left:10px; width:200px; height:26px;}
.my_zjjl_tit .my_zjjl_titr{ float:right; right:0}
.my_zjjl_tit .my_zjjl_titr div{ float:left; margin-left:20px}
.my_zjjl_tit .my_zjjl_titr div input{width:100px; height:26px;}

/*我的投资*/
.my_tz{ width:100%;}
.my_tz_tab{}
ul.my_tz_tab_nav{width:100%;height:50px;}
ul.my_tz_tab_nav li{ width:130px; height:50px; line-height:50px; float:left; margin-right:20px; background:#eee; color:#333; text-align:center;border-radius:5px 5px 0 0; cursor:pointer}
ul.my_tz_tab_nav li.current0{ background:#fff; color:#31acfb; border:1px solid #31acfb; border-bottom:0}
#content0{ border-top:1px solid #ccc}

























