<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0c586357e41c4f0ab931353497f27d1d" style="width:900px; height:500px;"></div>
    <script>
        var chart_0c586357e41c4f0ab931353497f27d1d = echarts.init(
            document.getElementById('0c586357e41c4f0ab931353497f27d1d'), 'white', {renderer: 'canvas'});
        var option_0c586357e41c4f0ab931353497f27d1d = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6536\u5f55\u7bc7\u6570",
            "data": [
                2782.0,
                2051.0,
                1888.0,
                1735.0,
                1260.0,
                1155.0,
                931.0,
                920.0,
                805.0
            ],
            "barCategoryGap": 0,
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 14
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u7d2f\u8ba1\u767e\u5206\u6bd4",
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    0,
                    0.0
                ],
                [
                    1,
                    20.566274857692022
                ],
                [
                    2,
                    35.728542914171655
                ],
                [
                    3,
                    49.68581355806905
                ],
                [
                    4,
                    62.512013011015014
                ],
                [
                    5,
                    71.82671693649738
                ],
                [
                    6,
                    80.36519553485621
                ],
                [
                    7,
                    87.24772676868486
                ],
                [
                    8,
                    94.0489391587196
                ],
                [
                    9,
                    100.0
                ]
            ],
            "label": {
                "show": false,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6536\u5f55\u7bc7\u6570",
                "\u7d2f\u8ba1\u767e\u5206\u6bd4"
            ],
            "selected": {
                "\u6536\u5f55\u7bc7\u6570": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "fontSize": 12,
                "formatter": "{value} \u7bc7"
            },
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": true
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "fontSize": 12,
                "formatter": "{value}%"
            },
            "inverse": false,
            "position": "right",
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "name": "\u5e74\u4efd",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "type": "category",
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2018",
                "2016",
                "2017",
                "2015",
                "2014",
                "2013",
                "2010",
                "2012",
                "2011"
            ]
        },
        {
            "show": false,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "position": "top",
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5e74\u4efd-EI\u6536\u5f55\u822a\u7a7a\u822a\u5929\u79d1\u6280\u8bba\u6587\u7bc7\u6570"
        }
    ]
};
        chart_0c586357e41c4f0ab931353497f27d1d.setOption(option_0c586357e41c4f0ab931353497f27d1d);
    </script>
</body>
</html>
