<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助中心</title>
<link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css"/>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/superslide.2.1.js"></script>
<script type="text/javascript" src="/static/js/my.js"></script>
<script type="text/javascript" src="/static/js/help.js"></script>
</head>

<body>
<div class="header">
  <div class="heaer_con">
     <h1 class="header_h1">联系我们：XXX</h1>
     <div class="header_rightLine"></div>
     <h1 class="header_h1">关注我们</h1>
     <div class="header_weixin">
        <img src="/static/images/chat.png" />
     </div>
     <div class="header_weixinBig">
        <img src="/static/images/erweima-1.png" />
     </div>
     <ul>
       <li><a href="../toregister">注册</a></li>
       <li><div class="header_rightLine"></div></li>
       <li><a href="../">登录</a></li>
     </ul>
  </div>
</div>

<div class="clear"></div>
<div class="nav">
  <div class="nav_logo"><img src="/static/images/biaoti2.png" width="400" height="80" /></div>
  <ul class="nav_navs">
     <a href="../tosuccess/"><li>首  页</li></a>
     <a href="../know/"><li>航天科普</li></a>
     <a href="../shuju/"><li>形势分析</li></a>
     <a href="../newguide/"><li>新手引导</li></a>
     <a><li class="on">帮助中心</li></a>
     <a href="../my/"><li>个人中心</li></a>
  </ul>
</div>

<div class="clear"></div>
<div class="banner"></div>
<div class="main">
    <div class="daohang"><a href="../tosuccess/">首页 </a>> 帮助中心</div>
</div>
<div class="bj">
    <div class="bj_main" style=" width:1200px;  margin:0 auto">
      <div class="help_zx">
          <div class="help_zx_l">
             <ul class="helps">
               <a href="help.html"><li class="help_on">一、了解平台</li></a>
               <a><li>二、问题反馈</li></a>
               <a><li>三、XXX</li></a>
               <a><li>四、XXX</li></a>
               <a><li>五、XXX</li></a>
               <a><li>六、XXX</li></a>
               <a><li>七、XXX</li></a>
             </ul>
             <div class="clear"></div>
          </div>
          <div class="help_zx_r">
              <div class="help_tit">
                 <img src="/static/images/askPic.png" />
                 常见问题
              </div>
              <div class="quesList">
                 <div class="quesList_titt actives">1.我们是谁？</div>
                 <div class="quesList_huifu" style="display:block">“征途”（英文名：zhengtu）由大学生于2021年开发的一款平台。</div>
              </div>
              <div class="quesList">
                 <div class="quesList_titt">2.创建的目的？</div>
                 <div class="quesList_huifu">此平台通过对网络上丛横交错的信息进行整合，以可视化的方式为用户刨析当前局势的中美关系。</div>
                <dir class="quesList_huifu">让相关数据不再干燥无味，艰涩难懂，也让用户便捷了解到中美在航天发展的优势与不足。</dir>
              </div>
              <div class="quesList">
                 <div class="quesList_titt">3.我们的优势？</div>
                 <div class="quesList_huifu">
                    <ul>
                    <li>梦启九州，壮凌空之志；缘定寰宇，铭空天之魂。</li>
                    <li>东风长征破万里，神舟天宫闯星海。</li>
                    <li>忆往昔东方红星，看今朝长五升天。</li>
                    </ul>
                 </div>
              </div>
              </div>
          </div>
       </div>
      <div style=" clear:both; width:100%; height:150px;"></div>
    </div>
</div>


</div>
</body>
</html>
