<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>航天科普</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="/static/css/bootstrap.min1.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="/static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--gallery-->
      <link rel="stylesheet" href="/static/css/lightbox.css">
      <!--//gallery-->
      <link rel="stylesheet" type="text/css" href="/static/css/set1.css" />
      <!--stylesheets-->
      <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>

   <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css"/>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/superslide.2.1.js"></script>
<script type="text/javascript" src="/static/js/my.js"></script>
</head>

   <body>
      <div class="header">
     <div class="heaer_con">
        <h1 class="header_h1">联系我们：XXX</h1>
        <div class="header_rightLine"></div>
        <h1 class="header_h1">关注我们</h1>
        <div class="header_weixin">
           <img src="/static/images/chat.png" />
        </div>
        <div class="header_weixinBig">
           <img src="/static/images/erweima-1.png" />
        </div>
         <ul>
          <li><a href="../toregister">注册</a></li>
          <li><div class="header_rightLine"></div></li>
          <li><a href="../">登录</a></li>
        </ul>
     </div>
   </div>

      <div class="clear"></div>
         <div class="nav">
           <div class="nav_logo"><img src="/static/images/biaoti2.png" width="400" height="80"/></div>
           <ul class="nav_navs">
              <a href="../tosuccess/"><li>首  页</li></a>
              <a><li class="on">航天科普</li></a>
              <a href="../shuju/"><li>形势分析</li></a>
              <a href="../newguide/"><li>新手引导</li></a>
              <a href="../help/"><li>帮助中心</li></a>
              <a href="../my/"><li>个人中心</li></a>
           </ul>
         </div><div class="clear11"></div>

      <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">涨点知识</h3>
            <div class="row grid gallery-info">
               <div class="col-lg-6 col-md-6 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/weixing.png" height="350px" width="600px" alt="img15"/>
                     <figcaption>
                        <h2>卫星<span>View</span></h2>
                        <p>周期性运行的天然天体。</p>
                        <br>
                        <p>人造卫星一般亦可称为卫星。</p>
                        <br>
                        <p>月球是明显的天然卫星。</p>
                        <a href="/static/images/weixing.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/weixing.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-6 col-md-6 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/huojian.png" height="350px" width="600px" alt="img15"/>
                     <figcaption>
                        <h2>火箭<span>View</span></h2>
                        <p>属于燃气推进装置。</p>
                        <br>
                        <p>航天飞行的运载工具。</p>
                        <br>
                        <p>火箭按用途分为探空火箭和运载火箭。</p>
                        <a href="/static/images/huojian.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/huojian.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
            </div>
            <div class="row grid gallery-info">
               <div class="col-lg-4 col-md-4 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/kongjianzhan.png" height="470px" width="400px" alt="img15"/>
                     <figcaption>
                        <h2>空间站<span>View</span></h2>
                        <p>空间站别称太空站，航天站。</p>
                        <br>
                        <p>空间站分为单模块空间站和多模块空间站两种。</p>
                        <br>
                        <p>主要空间站分为国际空间站、中国空间站等</p>
                        <a href="/static/images/kongjianzhan.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/kongjianzhan.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/yuhangyuan.png" height="470px" width="400px" alt="img15"/>
                     <figcaption>
                        <h2>宇航员<span>View</span></h2>
                        <p>其指以太空飞行为职业或进行过太空飞行的人。</p>
                        <br>
                        <p>国际航空联合会（FAI）定义的宇宙飞行则需超过100公里。</p>
                        <br>
                        <p>成为一名宇航员需要的素质极高。</p>
                        <a href="/static/images/yuhangyuan.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/yuhangyuan.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-4 col-md-4 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/hantian.png" height="470px" width="400px" alt="img15"/>
                     <figcaption>
                        <h2>中国航天日<span>View</span></h2>
                        <p>2016年3月8日，国务院批复同意将每年4月24日设立为“中国航天日”。</p>
                        <br>
                        <p>中国航天日是为了纪念中国航天事业成就，发扬中国航天精神而计划设立的一个纪念日。</p>
                        <br>
                        <p>2021年4月24日，第六个“中国航天日”主场活动在江苏省南京市举办，主题是“扬帆起航 逐梦九天”。</p>
                        <a href="/static/images/hantian.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/hantian.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-6 col-md-6 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/diqiu.png" height="350px" width="600px" alt="img15"/>
                     <figcaption>
                        <h2>地球<span>View</span></h2>
                        <p>太阳系八大行星之一</p>
                        <br>
                        <p>是目前已知的唯一孕育和支持生命的天体</p>
                        <br>
                        <p>地球的大气主要由氮和氧组成。</p>
                        <a href="/static/images/diqiu.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/diqiu.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
               <div class="col-lg-6 col-md-6 gallery-grids">
                  <figure class="effect-julia">
                     <img src="/static/images/yueqiu.png" height="350px" width="600px" alt="img15"/>
                     <figcaption>
                        <h2>月球<span>View</span></h2>
                        <p>月球是围绕地球旋转的球形天体。</p>
                        <br>
                        <p>其是地球的天然卫星。</p>
                        <br>
                        <p>月球是太阳系中体积第五大的卫星。</p>
                        <a href="/static/images/yueqiu.png" class="gallery-box" data-lightbox="example-set" data-title="">
                        <img src="/static/images/yueqiu.png" alt="" class="img-fluid">View more
                        </a>
                     </figcaption>
                  </figure>
               </div>
            </div>
         </div>
      </section>
      <!--//Gallery-->
      <!--Footer -->
      <!-- //Footer -->
      <!--js working-->
      <script src='/static/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- gallery -->
      <script src="/static/js/lightbox-plus-jquery.min.js"></script>
      <!-- //gallery -->
      <!-- start-smoth-scrolling -->
      <script src="/static/js/move-top.js"></script>
      <script src="/static/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         
         
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="/static/js/bootstrap.min1.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>