<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>个人中心</title>
<link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/superslide.2.1.js"></script>
<script type="text/javascript" src="/static/js/my.js"></script>
</head>

<body>
<div class="header">
  <div class="heaer_con">
     <h1 class="header_h1">联系我们：XXX</h1>
     <div class="header_rightLine"></div>
     <h1 class="header_h1">关注我们</h1>
     <div class="header_weixin">
        <img src="/static/images/chat.png" />
     </div>
     <div class="header_weixinBig">
        <img src="/static/images/erweima-1.png" />
     </div>
     <ul>
       <li><a href="../toregister">注册</a></li>
       <li><div class="header_rightLine"></div></li>
       <li><a href="../">登录</a></li>
     </ul>
  </div>
</div>

<div class="clear"></div>
<div class="nav">
  <div class="nav_logo"><img src="/static/images/biaoti2.png" width="400" height="80" /></div>
  <ul class="nav_navs">
     <a href="../tosuccess/"><li>首  页</li></a>
     <a href="../know/"><li>航天科普</li></a>
     <a href="../shuju/"><li>形势分析</li></a>
     <a href="../newguide/"><li>新手引导</li></a>
     <a href="../help/"><li>帮助中心</li></a>
     <a><li class="on">个人中心</li></a>
  </ul>
</div>

<div class="clear"></div>
<div class="banner0">
   <div class="ban_my">
       <div class="ban_my_left">
          <div class="ban_my_l1"><img src="/static/images/shape.png" /></div>
          <div class="ban_my_l2"><img src="/static/images/headg.png" /></div>
          <div class="ban_my_l3">王小小<span>上午好</span></div>
       </div>
       <div class="ban_my_right">
          <div class="ban_my_right_up">
              <div class="left">个人信息</div>
              <div class="right0">2021-12-07星期二</div>
          </div>
          <div class="ban_my_right_down">
              <div class="ban_my_right_down_l">
                 <div class="ban_my_d">
                     <div class="ban_my_d1">
                        <p class="dp1">手机号</p>
                        <p class="dp2">XXXXXXXXXX</p>
                     </div>
                     <div class="ban_my_d1">
                        <p class="dp1">邮箱</p>
                        <p class="dp2">XXXXXXXXXX</p>
                     </div>
                     <div class="ban_my_d1">
                        <p class="dp1">出生日期</p>
                        <p class="dp2">XXXXXXX</p>
                     </div>
                 </div>
                 <div class="ban_my_d" style=" border-bottom:0">
                     <div class="ban_my_d1">
                        <p class="dp1">我的称号</p>
                        <p class="dp2">XXXXX</p>
                     </div>
                <div class="ban_my_d1">
                        <p class="dp1">历史记录</p>
                        <p class="dp2">无</p>
                     </div>
                     <div class="ban_my_d1">
                        <p class="dp1">我的收藏</p>
                        <p class="dp2">我</p>
                     </div>
                 </div>
              </div>
              <div class="ban_my_right_down_c"></div>
              <div class="ban_my_right_down_r">
                  <div class="my_ban_btn my_ban_btn1">修改密码</div>
                  <div class="my_ban_btn my_ban_btn0">冻结账号</div>
              </div>
          </div>
       </div>
   </div>
</div>
</div>
</body>
</html>
