<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新手引导</title>
<link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
<link rel="stylesheet" href="static/css/owl.carousel.css"/>
<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/js/superslide.2.1.js"></script>
<script type="text/javascript" src="static/js/my.js"></script>
</head>

<body>
<div class="header">
  <div class="heaer_con">
     <h1 class="header_h1">联系我们：XXX</h1>
     <div class="header_rightLine"></div>
     <h1 class="header_h1">关注我们</h1>
     <div class="header_weixin">
        <img src="/static/images/chat.png" />
     </div>
     <div class="header_weixinBig">
        <img src="/static/images/erweima-1.png" />
     </div>
     <ul>
       <li><a href="../toregister">注册</a></li>
       <li><div class="header_rightLine"></div></li>
       <li><a href="../">登录</a></li>
     </ul>
  </div>
</div>

<div class="clear"></div>
<div class="nav">
  <div class="nav_logo"><img src="/static/images/biaoti2.png" width="400" height="80" /></div>
  <ul class="nav_navs">
     <a href="../tosuccess/"><li>首  页</li></a>
     <a href="../know/"><li>航天科普</li></a>
     <a href="../shuju/"><li>形势分析</li></a>
     <a><li class="on">新手引导</li></a>
     <a href="../help/"><li>帮助中心</li></a>
     <a href="../my/"><li>个人中心</li></a>
  </ul>
</div>

<div class="clear"></div>
<div class="banner"></div>
<div class="main">
   <div class="daohang"><a href="../tosuccess/">首页</a> > 新手引导</div>
   <div class="nr">
      <div class="font16">开启您的航天之旅<span class="bluea">出发！</span></div>
      <div class="first">
         <div class="first_one">第一步<span class="reda">注 册</span></div>
         <div class="first_two">设置你的用户名与密码</div>
         <div class="first_two">即可注册成为XXX用户！</div>
      </div>
      <div class="two">
         <div class="first_one">第二步<span class="lva">知识拓展</span></div>
         <div class="first_two">进入<span style="font-size:20px">"航天科普"</span>扩充你的知识面。</div>
      </div>
      <div class="three">
         <div class="first_one">第三步<span class="blua">数据查阅</span></div>
         <div class="first_two">进入形势分析，了解更多国家航天趋势。</div>
      </div>
      <div class="four">
         <div class="first_one">第四步<span class="zia">问题反馈</span></div>
         <div class="first_two">有问题，来问题中心反馈呀。</div>
      </div>
   </div>
</div>
</body>
</html>
