<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>形势分析</title>
      <!--meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//meta tags ends here-->
      <!--booststrap-->
      <link href="/static/css/bootstrap.min1.css" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="/static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="/static/css/style.css" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
      <link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
   </head>
   <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link type="text/css" rel="stylesheet" href="/static/css/shouye.css" />
<link rel="stylesheet" href="/static/css/owl.carousel.css"/>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/superslide.2.1.js"></script>
<script type="text/javascript" src="/static/js/my.js"></script>
</head>
   <body>
   <div class="header">
     <div class="heaer_con">
        <h1 class="header_h1">联系我们：XXX</h1>
        <div class="header_rightLine"></div>
        <h1 class="header_h1">关注我们</h1>
        <div class="header_weixin">
           <img src="/static/images/chat.png" />
        </div>
        <div class="header_weixinBig">
           <img src="images/erweima-1.png" />
        </div>
         <ul>
          <li><a href="../toregister">注册</a></li>
          <li><div class="header_rightLine"></div></li>
          <li><a href="../">登录</a></li>
        </ul>
     </div>
   </div>

<div class="clear"></div>
<div class="nav">
  <div class="nav_logo"><img src="/static/images/biaoti2.png" width="400" height="80" /></div>
  <ul class="nav_navs">
     <a href="../tosuccess/"><li>首  页</li></a>
     <a href="../know/"><li>航天科普</li></a>
     <a><li class="on">形势分析</li></a>
     <a href="../newguide/"><li>新手引导</li></a>
     <a href="../help/"><li>帮助中心</li></a>
     <a href="../my/"><li>个人中心</li></a>
  </ul>
</div>

      <section class="about-inner py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">中美航天实力综合可视化</h3>
            <div class="row abt-inner-agile">
               <div class="col-lg-6 inner-about-left">
                  <div class="abut-fst-img">
                     <img src="/static/images/aa1.jpg" alt=" " class="img-fluid">
                     <div class="abut-secound-img">
                        <img src="/static/images/aa2.jpg" alt=" " class="img-fluid">
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 inner-about-text text-left">
                  <h4>航天技术从诞生伊始就是国家战略性高技术领域,与国家战略、意志密不可分,对国际政治、经济、科技和国家安全有重大影响,并将长期成为大国竞争博弈的战略高点.当前,中美关系呈现出崛起与遏制焦灼的大国竞争态势,中美经贸摩擦和科技领域封锁与博弈不断升级.因此对中美航天技术的多维度深刻刨析显得越来越重要。</h4>
                  <p class="pt-lg-4 pt-md-3 pt-2"> 接下来将通过对中美航天竞争力的多元素进行综合性分析，力求简洁明了的反映当前中美航天技术的实力与差距。</p>
               </div>
            </div>
         </div>
         <!--//about-one-->
         <!--about-two-->
         <div class="container pb-lg-5 pb-md-4 pb-sm-4 pb-3">
            <div class="row">
               <div class="col-lg-6 inner-about-text text-left">
                  <h4>最新资讯：神舟十三号载人飞船发射取得圆满成功，飞行乘组状态良好。目前，天和核心舱和天舟二号、天舟三号组合体已进入对接轨道，满足与神舟十三号交会对接的任务要求和航天员进驻条件。（记者李国利、黎云、张汨汨） </h4>
                  <h4>发布时间: 10-16 00:59     新华社客户端官方帐号</h4>
                  <p class="pt-lg-4 pt-md-3 pt-2">专题专栏： 第十三届中国航空航天国际博览会--9月29日，在第十三届中国国际航空航天博览会(珠海航展)上，中国航天科技集团有限公司举行重大项目签约仪式，与国家相关部门、地方政府、企业集团等签署了50余项合作协议及合作意向，累计签约金额近500亿元，再创集团公司珠海航展签约金额历史新高。</p>
               </div>
               <div class="col-lg-6 sub-inner-abt-txt text-left">
                  <div class="row">
                     <div class="col-md-6  ">
                        <div class="sub-agile-abt-txt">
                           <h4>信息发布</h4>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">吴艳华副局长会见安徽省委书记郑栅洁>></p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">发布日期：2021年12月07日</p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">来源 : 探月与航天工程中心 </p>
                        </div>
                        <div class="sub-agile-abt-txt mt-md-4 mt-3">
                           <h4>政策公告</h4>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">关于发放第一批月球科研样品的公告>></p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">发布日期：2021年07月12日</p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left"></p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="sub-agile-abt-txt">
                           <h4>国际航天</h4>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">SpaceX“星际飞船”原型SN15成功完成高空飞行测试>></p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">发布日期：2021年05月06日</p>
                           <p class="pt-lg-3 pt-md-3 pt-2 text-left">来源 : 中国新闻网</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--//about-two-->
      </section>
      <!--//about-->
      <!--Adviser-->
      <!--Adviser-one-->
      <section class="adv-inner py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="row">
               <div class="col-lg-6 col-md-6 ">
                  <div class="adv-w3l-text">
                     <h4 class="mb-lg-4 mb-3">各国航天局2020年预算排行前9情况
                     </h4>
                     <p class="text-left  mb-3">航天科技是我们探索宇宙的最重要的基础，而发展航空科技业彰显国家实力的一个象征。</p>
                     <div class="outs-blog-text">
                        <a href="../yusuan/">了解更多</a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-md-6">
                  <div class="adv-w3l-text">
                     <h4 class="mb-lg-4 mb-3" >中美俄三国航天近几年的实力情况
                     </h4>
                     <p class="text-left mb-3">通过中美俄航天实力对比可知：美优势明显，俄继承遗产，中国走出关键一步.</p>
                     <div class="outs-blog-text">
                        <a href="../zme/">了解更多</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//Adviser-one-->
      <!--Adviser-two-->
      <section>
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6 col-md-6 advise-grid-left text-center">
                  <h4 class="mb-lg-4 mb-3">中国航天实力</h4>
                  <p class="mb-lg-4 mb-3">005年10月,"神舟六号"载人飞船的太空之旅使中国航天再次成为举世关注的焦点.近半个世纪的历程中,中国航天人不断挑战空间技术制高点,奠定了中国航天大国之基.近年,中国航天亮点频现,举世瞩目.然而,中国距航天强国还有多远的路要走?点击进入了解更多中国航天实力的分析>></p>
                  <div class="row">
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>航空航天器制造业高技术产业新产品开发经费与国内生产总值对比>></p>
                        </div>
                     </div>
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>航空航天企业单位数（个）与航空航天器制造业高技术产业新产品开发经费>></p>
                        </div>
                     </div>
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>中国神舟（sz）载人航天器飞行历史（包括从19999年到2021年）>></p>
                        </div>
                     </div>
                  </div>
                  <div class="outs-blog-text mt-lg-4 mt-md-3 mt-3">
                     <a href="../China/">了解更多</a>
                  </div>
               </div>
<!--               <div class="col-lg-6 col-md-6 p-0 adv-left-grid-img"></div>-->
               <div class="pic1" ><img src="/static/images/shuju2.png" width="630px" height="550px"/></div>
            </div>
            <div class="row">
<!--               <div class="col-lg-6 col-md-6 p-0 adv-right-grid-img"></div>-->
               <div class="pic1" ><img src="/static/images/shuju1.png" width="630px" height="500px"/></div>
               <div class="col-lg-6 col-md-6 advise-grid-left text-center">
                  <h4 class="mb-lg-4 mb-3">中美航天实力对比</h4>
                  <p class="mb-lg-4 mb-3">从近十年的发展态势来看,世界航天产业长期保持稳定增长,商业航天已经成为世界航天产业的主要构成和主导力量。在全球范围内,国家政策大幅放宽,航天技术持续发展,社会资本和大众对航天关注度不断提高,促使商业航天整体向低成本、多样化、规模化方向发展。本文通过对比中美两国在商业航天发展情况进行对比分析，点击了解>></p>
                  <div class="row">
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>中美两个GDP情况>></p>
                        </div>
                     </div>
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>中美两国经济增值情况>></p>
                        </div>
                     </div>
                     <div class=" col-sm-4 grib-text-abt">
                        <div class="adv-w3layouts-icon" >
                           <div class="social-icon-txt">
                              <span class="fas fa-chart-pie pb-3"></span>
                           </div>
                           <p>中美航天局历年航天预算情况>></p>
                        </div>
                     </div>
                  </div>
                  <div class="outs-blog-text mt-lg-4 mt-md-3 mt-3">
                     <a href="../zm/">了解更多</a>
                  </div>
               </div>
            </div>
         </div>
         <!--//Adviser-two-->
      </section>
      <!--//Adviser-->
      <!-- Team -->
      <section class="team py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3">其他</h3>
            <div class="row">
               <!-- Team member -->
               <div class="col-lg-4 team-list-one">
                  <div class="image-flip">
                     <div class="mainflip">
                        <div class="frontside">
                           <div class="card">
                              <div class="card-body text-center">
                                 <p><img src="/static/images/zhutu.png" alt="" class="image-fluid" height="300px" width="300px"></p>
                                 <h4 class="card-title mt-3">中美俄轨道发射数量柱形图</h4>
                                 <p class="card-text mb-3">此图表对中美俄从2017年到2021年五年间航天器轨道发射数进行了可视化分析。</p>
                                 <p class="card-text mb-3">数据来源：space.org</p>
                                 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                           </div>
                        </div>
                        <div class="backside">
                           <div class="card">
                              <div class="card-body text-center mt-4">
                                 <h4 class="card-title ">中美俄轨道发射数量柱形图</h4>
                                 <p class="card-text mb-3">由图表中的数据可以分析得出以下结论：从2017年到2021年间，三国的轨道发射数量都在不断的增加，其反映了各国的航天技术随着年份的增长，都不断增强，虽然我国的轨道发射数量并非最强，但是却可以显著的看出中国航天的发展及其潜力。</p>
                                 <ul class="list-inline">
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-facebook-f"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-google-plus-g"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-twitter"></span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-lg-4 team-list-two">
                  <div class="image-flip">
                     <div class="mainflip">
                        <div class="frontside">
                           <div class="card">
                              <div class="card-body text-center">
                                 <p><img src="/static/images/ciyuntu.png" alt="" class="image-fluid" height="300px" width="300px"></p>
                                 <h4 class="card-title mt-3">航空航天摘要词云图</h4>
                                 <p class="card-text mb-3">此图表对中国知网近几年航天论文摘要进行了权重的可视化分析。</p>
                                 <p class="card-text mb-3">数据来源：中国知网</p>
                                 <a href="#" class="btn btn-primary btn-sm"><span class="fa fa-plus"></span></a>
                              </div>
                           </div>
                        </div>
                        <div class="backside">
                           <div class="card">
                              <div class="card-body text-center mt-4">
                                 <h4 class="card-title ">航空航天摘要词云图</h4>
                                 <p class="card-text mb-3">由图表中的数据可以分析得出以下结论：中国航天的研究内容多趋向于航天竞争力，美国，产业，制造业，市场等内容，其说明我国航天的努力方向正朝着不断发展方向前进。</p>
                                 <ul class="list-inline">
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-facebook-f"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-google-plus-g"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-twitter"></span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ./Team member -->
               <!-- Team member -->
               <div class="col-lg-4 team-list-three">
                  <div class="image-flip">
                     <div class="mainflip">
                        <div class="frontside">
                           <div class="card">
                              <div class="card-body text-center">
                                 <p><img src="/static/images/zse.png" alt="" class="image-fluid" height="300px" width="300px"></p>
                                 <h4 class="card-title mt-3">中苏俄空间站情况饼状图</h4>
                                 <p class="card-text mb-3">此图表对中美俄目前（截至2021年11月20日）所建立的空间站情况进行可视化分析。</p>
                                 <p class="card-text mb-3">数据来源：space.org</p>
                                 <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                              </div>
                           </div>
                        </div>
                        <div class="backside">
                           <div class="card">
                              <div class="card-body text-center mt-4">
                                 <h4 class="card-title ">中苏俄空间站情况饼状图</h4>
                                 <p class="card-text mb-3"> 由图表中的数据可以分析得出以下结论：虽然我国在航天发展方面起步晚，但是与另外两个航天强国相比，我国空间站水平仍然具有一席之地。相信中国未来航天的事业也将会越来越蓬勃发展。</p>
                                 <ul class="list-inline">
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-facebook-f"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-google-plus-g"></span>
                                       </a>
                                    </li>
                                    <li class="list-inline-item">
                                       <a class="social-icon text-xs-center" target="_blank" href="#">
                                       <span class="fab fa-twitter"></span>
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- ./Team member -->
            </div>
         </div>
      </section>
      <!--//team -->
      <!--Footer -->
      <!-- //Footer -->
      <!--js working-->
      <script src='/static/js/jquery-2.2.3.min.js'></script>
      <!--//js working-->
      <!-- start-smoth-scrolling -->
      <script src="/static/js/move-top.js"></script>
      <script src="/static/js/easing.js"></script>
      <script>
         jQuery(document).ready(function ($) {
         	$(".scroll").click(function (event) {
         		event.preventDefault();
         		$('html,body').animate({
         			scrollTop: $(this.hash).offset().top
         		}, 900);
         	});
         });
      </script>
      <!-- start-smoth-scrolling -->
      <!-- here stars scrolling icon -->
      <script>
         $(document).ready(function () {
         
         	var defaults = {
         		containerID: 'toTop', // fading element id
         		containerHoverID: 'toTopHover', // fading element hover id
         		scrollSpeed: 1200,
         		easingType: 'linear'
         	};
         
         
         	$().UItoTop({
         		easingType: 'easeOutQuart'
         	});
         
         });
      </script>
      <!-- //here ends scrolling icon -->
      <!--bootstrap working-->
      <script src="/static/js/bootstrap.min1.js"></script>
      <!-- //bootstrap working-->
   </body>
</html>