<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>各国航天局2020年预算</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body><p style="color:black;font-size:30px;" align="center">各国航天局2020年航天预算</p></body>

<br></br>
<body>
    <div id="4e621d6593c14d27959224c96c0408ce" style="width:900px; height:500px;"></div>
    <script>
        var chart_4e621d6593c14d27959224c96c0408ce = echarts.init(
            document.getElementById('4e621d6593c14d27959224c96c0408ce'), 'white', {renderer: 'canvas'});
        var option_4e621d6593c14d27959224c96c0408ce = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "data": [
                {
                    "name": "\u7f8e\u56fdNASA",
                    "value": 210
                },
                {
                    "name": "\u4e2d\u56fdCNSA",
                    "value": 110
                },
                {
                    "name": "\u6b27\u6d32ESA",
                    "value": 63.7
                },
                {
                    "name": "\u4fc4\u7f57\u65afRoscosmos",
                    "value": 41.7
                },
                {
                    "name": "\u6cd5\u56fdCNES",
                    "value": 31.6
                },
                {
                    "name": "\u65e5\u672cJAXA",
                    "value": 30.6
                },
                {
                    "name": "\u5fb7\u56fdDLR",
                    "value": 21.5
                },
                {
                    "name": "\u610f\u5927\u5229ASI",
                    "value": 18
                },
                {
                    "name": "\u5370\u5ea6ISRO",
                    "value": 14.2
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12,
                "formatter": "{b}: {d}%"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fdNASA",
                "\u4e2d\u56fdCNSA",
                "\u6b27\u6d32ESA",
                "\u4fc4\u7f57\u65afRoscosmos",
                "\u6cd5\u56fdCNES",
                "\u65e5\u672cJAXA",
                "\u5fb7\u56fdDLR",
                "\u610f\u5927\u5229ASI",
                "\u5370\u5ea6ISRO"
            ],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e16\u754c\u5404\u56fd\u822a\u5929\u5c402020\u5e74\u9884\u7b97\u6392\u884c\u5360\u6bd4(\u4ebf\u7f8e\u5143)",
            "subtext": "top9",
            "left": "left",
            "top": "10%"
        }
    ]
};
        chart_4e621d6593c14d27959224c96c0408ce.setOption(option_4e621d6593c14d27959224c96c0408ce);
    </script>
</body>
<font color="grey">数据来源：美国基金会</font>
<br></br>
<font color="blue" size="5">图表分析：</font>
<dir>根据图表分析可得以下结论：</dir>
<dir>(1)在各国航天局预算中美国占比最高210亿美元，居于第一位，中国第二位，110亿美元。其次分别是欧洲，俄罗斯，法国，日本，德国，印度。</dir>
<dir>(2)虽然中美航天预算还有较大差距，但是中国在航天的预算值也是极为高的。</dir>
<dir>(3)从2020年各航天局的航天预算情况可以分析到中国对航天技术的重视程度也是非常高的。</dir>

<font color="blue" size="5">文章：</font>
<dir>中国是航天科技发展最快的一个国家，从无到有，从天宫空间站，到北斗导航，再到载人航天，以及嫦娥系列探月卫星，中国为此付出太多努力，但功夫没有白费，中国的航天事业正稳步发展，成为世界航空科技的中坚力量。中国每年的航天预算也是随着探索的加深而不断加大，每天都会有大笔钱投入航空科技。</dir>
<dir>美国的航空科技是最发达的，NASA也一直是航空事业的领头羊，人造卫星、载人登月、国际空间站等等，都离不开NASA的巨大贡献。但这些年来，美国正不断减少对航空事业的预算。</dir>
<dir>不难看出航空探索是大国才有时间精力实力去探索的，并且这些技术也不是轻易就可以得到的，这些年，日本在这些技术上都未缺席过，还有印度也是每年都会加大这方面的投资，想要发展航空事业。</dir>

</html>
