<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>中美俄航天情况</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>
<html>
<body><p style="color:black;font-size:30px;" align="center">中美俄航天情况</p></body>
<head>
    <meta charset="UTF-8">
    <title>中美俄</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="429bc683e5784602a5a59d440ad84db3" style="width:900px; height:500px;"></div>
    <script>
        var chart_429bc683e5784602a5a59d440ad84db3 = echarts.init(
            document.getElementById('429bc683e5784602a5a59d440ad84db3'), 'white', {renderer: 'canvas'});
        var option_429bc683e5784602a5a59d440ad84db3 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "pie",
            "data": [
                {
                    "name": "\u7f8e\u56fd\u51711\u4e2a",
                    "value": 9.1
                },
                {
                    "name": "\u4e2d\u56fd\u51712\u4e2a",
                    "value": 18.2
                },
                {
                    "name": "\u82cf\u8054\u51718\u4e2a",
                    "value": 72.7
                }
            ],
            "radius": [
                "40%",
                "60%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12,
                "formatter": "{b} \uff0c\u5360\u6bd4 : {c}%"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd\u51711\u4e2a",
                "\u4e2d\u56fd\u51712\u4e2a",
                "\u82cf\u8054\u51718\u4e2a"
            ],
            "selected": {},
            "show": true,
            "left": "00%",
            "top": "20%",
            "orient": "vertical"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e2d\u7f8e\u82cf\u7a7a\u95f4\u7ad9\u5360\u6bd4",
            "left": "left",
            "top": "0%"
        }
    ]
};
        chart_429bc683e5784602a5a59d440ad84db3.setOption(option_429bc683e5784602a5a59d440ad84db3);
    </script>
</body>
<font color="grey">数据来源：space</font>
<br></br>
<font color="blue" size="5">图表分析：</font>
<dir>根据图表分析可得以下结论：</dir>
<dir>(1)中国，美国，苏联三个国家空间站的个数分别为2，1，8</dir>
<dir>(2)虽然与美国，俄罗斯的航天实力相比，我们国家的航天并非最强，但是在空间站建立方面，我们国家是可以与美国相匹敌的。</dir>
<dir>(3)中国航天事业相对而言起步更晚，所以取得如此成就是十分不容易的，同时也是十分值得祝贺的。</dir>
<br></br>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ea0b138bf8b24f2888c0cd025f62d2a1" style="width:900px; height:500px;"></div>
    <script>
        var chart_ea0b138bf8b24f2888c0cd025f62d2a1 = echarts.init(
            document.getElementById('ea0b138bf8b24f2888c0cd025f62d2a1'), 'white', {renderer: 'canvas'});
        var option_ea0b138bf8b24f2888c0cd025f62d2a1 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u7f8e\u56fd",
            "data": [
                "29",
                "31",
                "21",
                "36",
                "39"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 14
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": []
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u4e2d\u56fd",
            "data": [
                "18",
                "39",
                "34",
                "39",
                "48"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 14
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": []
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u4fc4\u7f57\u65af",
            "data": [
                "20",
                "20",
                "25",
                "16",
                "19"
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 14
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "fontSize": 12
                },
                "data": []
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd",
                "\u4e2d\u56fd",
                "\u4fc4\u7f57\u65af"
            ],
            "selected": {
                "\u7f8e\u56fd": true,
                "\u4e2d\u56fd": true,
                "\u4fc4\u7f57\u65af": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "name": "\u5355\u4f4d:\u4e2a",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "name": "\u56fd\u5bb6",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2017\u5e74",
                "2018\u5e74",
                "2019\u5e74",
                "2020\u5e74",
                "2021\u5e74"
            ]
        }
    ],
    "title": [
        {
            "text": "\u8f68\u9053\u53d1\u5c04-\u6570\u91cf",
            "subtext": "\u4e09\u4e2a\u56fd\u5bb6"
        }
    ]
};
        chart_ea0b138bf8b24f2888c0cd025f62d2a1.setOption(option_ea0b138bf8b24f2888c0cd025f62d2a1);
    </script>
</body>
<font color="grey">数据来源：ucsusa.org</font>
<br></br>
<font color="blue" size="5">图表分析：</font>
<dir>根据图表分析可得以下结论：</dir>
<dir>(1)整体上看，三个国家的轨道发射数每年都是十分稳定的，说明各国的航天事业都在努力发展中。</dir>
<dir>(2)在航天发展的起步时期，中国的轨道发射数是不及美国与俄罗斯的，但是在多年的努力下，中国也不断实现了轨道发射的赶超。</dir>
<dir>(3)轨道发射数量在某种程度上反映了国家在航天领域成就，因此虽然中国的航天路还有很长，但是中国航天是可观的。</dir>
<font color="blue" size="5">文章：</font>
<dir>随着科技的不断发展，地球已经难以满足人类的梦想，世界各大国都致力于在航天领域有所突破。我国作为一个迅速崛起的新兴航天大国现在也有能力更深入的探索太空，近几年来中国探索外太空的步伐开始逐渐加快。天宫、北斗以及嫦娥的顺利升空打破了以往只有美俄独占的航天垄断。今年年初嫦娥四号首登月背，标志着我国首次在对月探索上成功领先了美俄这对老牌航天大国。
</dir>
<dir>世界航天领域第一宝座由美国包揽，虽然近几年由于美国经济持续低迷不振，造成NASA预算短缺以及科研成果不佳等原因，导致美国在航天工业项目上接二连三出现纰漏。但NASA他们拥有的航天技术可以说是迄今为止世界上最先进的，在太空观测以及火星探索上领先世界。如今美国准备在阿波罗登月40多年后，重启登月计划。相信随着美国重启对外探索的计划，这位昔日的航天大国将会再度登顶。</dir>
<dir>紧跟美国的是俄罗斯。苏联解体后其庞大的航天技术遗产被俄罗斯全盘继承，一度能和美国进行太空军备竞赛。俄罗斯虽然因经济问题，在卫星研制和发射方面不得不缩减。因为有出色的发动机技术，俄罗斯明智地调转方向，将目标定在空间站与往返的运载飞船上，成绩相当不俗，就连美国也要依赖俄罗斯的飞船将宇航员送上太空。单凭苏联留下的老本，能保障俄在当今的航天领域占有极其重要的地位。</dir>
<dir>我国作为新兴航天国家之一，是继俄罗斯和美国之后，世界上第三个有能力载人上太空，第三个具备向在轨航天器运送人员和物资的国家，还多次进行绕月飞行，今年嫦娥四号更是登陆月背，成为全球首个登陆月球背面的国家。目前中国拥有194颗现役卫星，在航天领域上逐步赶超美俄。中国这些年在航空方面取得的成绩让国人惊喜、引世界赞叹。如今，中国也加入了这场太空支配权的角逐。</dir>
<dir>根据我国航天局所给出的未来规划看，在未来数十年内，我国将会积极开展对地外行星探索计划，我们将建立自己的空间站，随后我国将实现首次载人登月。目前的全球载人航天领域已形成三足鼎立的势头，但事实上，中国与美俄之间仍有差距。我们必须以苏联为戒，不要陷入美国竞赛圈套，发展航天要根据自身实力循序渐进，君不见苏联是如何被太空竞赛拖垮的。</dir>
</html>
