<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="c3424222b95c494c9387abfa24d2a0fd" style="width:900px; height:500px;"></div>
    <script>
        var chart_c3424222b95c494c9387abfa24d2a0fd = echarts.init(
            document.getElementById('c3424222b95c494c9387abfa24d2a0fd'), 'white', {renderer: 'canvas'});
        var option_c3424222b95c494c9387abfa24d2a0fd = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4e2d\u56fd",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2006",
                    27527
                ],
                [
                    "2007",
                    35520
                ],
                [
                    "2008",
                    45967
                ],
                [
                    "2009",
                    51020
                ],
                [
                    "2010",
                    60879
                ],
                [
                    "2011",
                    75547
                ],
                [
                    "2012",
                    85320
                ],
                [
                    "2013",
                    95744
                ],
                [
                    "2014",
                    104767
                ],
                [
                    "2015",
                    110600
                ],
                [
                    "2016",
                    112370
                ],
                [
                    "2017",
                    123232
                ],
                [
                    "2018",
                    138919
                ],
                [
                    "2019",
                    143004
                ],
                [
                    "2020",
                    147296
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u7f8e\u56fd",
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "2006",
                    138146
                ],
                [
                    "2007",
                    144519
                ],
                [
                    "2008",
                    147128
                ],
                [
                    "2009",
                    144489
                ],
                [
                    "2010",
                    149921
                ],
                [
                    "2011",
                    155426
                ],
                [
                    "2012",
                    161970
                ],
                [
                    "2013",
                    167849
                ],
                [
                    "2014",
                    175273
                ],
                [
                    "2015",
                    182383
                ],
                [
                    "2016",
                    187451
                ],
                [
                    "2017",
                    195430
                ],
                [
                    "2018",
                    206119
                ],
                [
                    "2019",
                    214332
                ],
                [
                    "2020",
                    209328
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e2d\u56fd",
                "\u7f8e\u56fd"
            ],
            "selected": {
                "\u4e2d\u56fd": true,
                "\u7f8e\u56fd": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2006",
                "2007",
                "2008",
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020"
            ]
        }
    ],
    "title": [
        {
            "text": "\u4e2d\u7f8eGDP(\u4ebf\u7f8e\u5143)--\u5e74\u4efd"
        }
    ]
};
        chart_c3424222b95c494c9387abfa24d2a0fd.setOption(option_c3424222b95c494c9387abfa24d2a0fd);
    </script>
</body>
</html>
