<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>中美苏空间站占比</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="429bc683e5784602a5a59d440ad84db3" style="width:900px; height:500px;"></div>
    <script>
        var chart_429bc683e5784602a5a59d440ad84db3 = echarts.init(
            document.getElementById('429bc683e5784602a5a59d440ad84db3'), 'white', {renderer: 'canvas'});
        var option_429bc683e5784602a5a59d440ad84db3 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "pie",
            "data": [
                {
                    "name": "\u7f8e\u56fd\u51711\u4e2a",
                    "value": 9.1
                },
                {
                    "name": "\u4e2d\u56fd\u51712\u4e2a",
                    "value": 18.2
                },
                {
                    "name": "\u82cf\u8054\u51718\u4e2a",
                    "value": 72.7
                }
            ],
            "radius": [
                "40%",
                "60%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "fontSize": 12,
                "formatter": "{b} \uff0c\u5360\u6bd4 : {c}%"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7f8e\u56fd\u51711\u4e2a",
                "\u4e2d\u56fd\u51712\u4e2a",
                "\u82cf\u8054\u51718\u4e2a"
            ],
            "selected": {},
            "show": true,
            "left": "00%",
            "top": "20%",
            "orient": "vertical"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u4e2d\u7f8e\u82cf\u7a7a\u95f4\u7ad9\u5360\u6bd4",
            "left": "left",
            "top": "0%"
        }
    ]
};
        chart_429bc683e5784602a5a59d440ad84db3.setOption(option_429bc683e5784602a5a59d440ad84db3);
    </script>
</body>
</html>
